* {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.c_header, .c2, .c_footer {
    background-color: #1F2937;;
}

.c3, .c5 {
    background-color: white;
}

.c_header {
    padding: 10px 0 10px 0;
}

.c4 {
    background-color: #E5E7EB;
}

.c_footer {
    align-items: center;
    color: #E5E7EB;
    font-size: 10px;
    padding: 25px 0 25px 0;
}

.b_header {
    display: flex;
    width: 75%;
    justify-content: space-between;
    color: #F9FAF8;
}

.b_2 {
    display: flex;
    width: 75%;
    justify-content: center;
    color: #F9FAF8;
    padding: 35px 0 35px 0;
    /* border: solid red; */
}

.b_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    /* border: solid red; */
    gap: 15px;
    padding: 15px 20px 50px 20px;
}

.b_4 {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    padding: 50px;
    color: #1F2937;
    
    /* border: solid red; */
}

.quote {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 100;
    
}

.thor {
    text-align: end;
    font-size: 14px;
    font-weight: bold;
}

.b_5 {
    display: flex;
    width: 75%;
    gap: 50px;
    align-items: center;
    /* border: solid red; */
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 20px 50px 20px 50px;
    margin: 20px 0 20px 0;
}

.bc_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: solid green; */
    padding: 0 25px 0 0;
    width: 50%;
}

.bc_3 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* border: solid lightblue; */
    gap: 15px;
}

.bc_3_b {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* border: solid pink; */
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    color: #797979;
}



button {
    width: 80px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 3px;
}

.bc_2 p {
    font-size: 10px;
    font-weight: lighter;
    color: #c8c8c8;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    padding: 0;
}

.b_5 button {
    border: 1px solid #F9FAF8;
}

.b_ilust {
    display: flex;
    border: 2.5px solid #3882F6;
    border-radius: 10px;
    height: 110px;
    width: 110px;
}

ul {
    list-style: none;
}

.b_header ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 10px;
    /* border: solid white; */
}

.bc_3_b p {
    width: 110px;
}